{% if data.filteredResults.length %}

{% set data = data.filteredResults %}

{% else %}

{% set data = allData %}

{% endif %}


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">5 locations </caption>





  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">
      </th>


      <th scope="col" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="ALLSFW" name="ALLSFW" type="checkbox" onClick="toggleSFW(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="ALLSFW">
            <b>All severe flood warnings</b>
            </label>
          </div>
        </div>
      </th>

      <th scope="col" class="govuk-table__header govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="ALLFW" name="ALLFW" type="checkbox" onClick="toggleFW(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="ALLFW">
            <b>All flood warnings</b>
            </label>
          </div>
        </div>
      </th>


      <th scope="col" class="govuk-table__header govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="ALLFA" name="ALLFA" type="checkbox" onClick="toggleFA(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="ALLFA">
            <b>All flood alerts</b>
            </label>
          </div>
        </div>
      </th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for item in data %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">



        <h3 id="linked-data" tabindex="-1" class="govuk-heading-m">
          <a href="{{ item.termName | lower | replace(' ', '-') }}" class="govuk-link">{{ item.title }}</a>
        </h3>
        {{ item.address }} <!--{{ item.criticalityToBusiness }}{{ item.priority }}-->
      </th>



      <td class="govuk-table__cell ">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="SFW" name="SFW" type="checkbox" value="SFW">
            <label class="govuk-label govuk-checkboxes__label" for="SFW">
            Severe flood warnings
            </label>
          </div>
        </div>
        </td>

      <td class="govuk-table__cell govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="FW" name="FW" type="checkbox" value="FW">
            <label class="govuk-label govuk-checkboxes__label" for="FW">
            Flood warnings
            </label>
          </div>
        </div>
      </td>

      <td class="govuk-table__cell govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="FA" name="FA" type="checkbox" value="FA">
            <label class="govuk-label govuk-checkboxes__label" for="FA">
            Flood alert
            </label>
          </div>
        </div>
      </td>
    </tr>
{% endfor %}
{% for item in data %}
  </tbody>
</table>
{% endfor %}
