
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}

{%- set filterOptionsHtml %}

  

  {{ govukCheckboxes({
    idPrefix: 'criticality',
    name: 'criticality',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Your criticality rating',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '1',
        text: 'High (18)',
        checked: false
      },
      {
        value: '2',
        text: 'Medium (5)',
        checked: false
      },
      {
        value: '3',
        text: 'Low (2)'
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'ea-rating',
    name: 'ea-rating',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Environment Agency flood risk rating',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: 'high',
        text: 'High risk (2)',
        checked: false
      },
      {
        value: 'medium',
        text: 'Medium risk (5)'
      },
      {
        value: 'low',
        text: 'Low (3)',
        checked: false
      }
    ]
  }) }}


  {{ govukCheckboxes({
    idPrefix: 'location-type',
    name: 'location-type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Location type',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        value: '1',
        text: 'Warehouse (18)',
        checked: false
      },
      {
        value: '2',
        text: 'Pumping station(5)',
        checked: false
      },
      {
        value: '3',
        text: 'Head office (2)'
      }
    ]
  }) }}

{% endset -%}

{{ mojFilter({
  heading: {
    text: 'Filter'
  },

  submit: {
    attributes: {
        "data-test-id": "submit-button"
    }
  },

  selectedFilters: {

    heading: {
      text: 'Selected filters'
    },

    clearLink: {
      text: 'Clear filters'
    },

    categories: [
      
    ]
  },
  optionsHtml: filterOptionsHtml
}) }}








