<!-- navigation pattern -->
<nav id="nav" class="navbar">
   <ul class="navbar__list">

     <li class="navbar__item">
       <a class="navbar__link govuk-link--no-visited-state" href="/">
         Get started
       </a>
     </li>

     <li class="navbar__item">
      <a class="navbar__link govuk-link--no-visited-state" href="/pages/background">
        Background
      </a>
    </li>

     <li class="navbar__item">
       <a class="navbar__link navbar__link--active govuk-link--no-visited-state" href="/principles-list">
         Principles
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link govuk-link--no-visited-state" href="/pages/community">
         Community
       </a>
     </li>

   </ul>
 </nav>
