<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
    <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
    <ul class="app-navigation__list app-width-container">
        <li class="app-navigation__list-item {% if currentNav == "Live flood warnings" %}app-navigation__list-item--current{% endif %}">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="#">
              Live flood warnings
            </a>
        </li>
        <li class="app-navigation__list-item {% if currentNav == "Flood warning settings" %}app-navigation__list-item--current{% endif %}">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/v03-1/uploadlocations/tasklist-addlocationscomplete">
              Flood warning settings
            </a>
        </li>
        <li class="app-navigation__list-item {% if currentNav == "Reports" %}app-navigation__list-item--current{% endif %}">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="#">
              Reports
            </a>
        </li>
    </ul>
</nav>
