{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ super() }}

{{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
}) }}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="form" action="/v01/multiple-upload/spreadsheet-gridref/upload-gridref" method="post">


      <h1 class="govuk-heading-xl">
        How to upload a spreadsheet with X and Y coordinates
      </h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://docs.google.com/spreadsheets/d/1usVxpmoH7Kmldss3toldARe_tMHEMc49kO5XV-iLrzM/edit#gid=0" class="app-example__new-window" target="_blank">Download and fill in the X and Y coordinates template (xls)</a>
        </li>
        <li>you will need X and Y coordinates in separate fields</li>
        <li>all coordinates must be 6 figures, without the letter prefix. This gives precise location to a one metre square. For example, coordinates for Nelson’s Column are:
          <ul class="govuk-list govuk-list--bullet">
            <li>X coordinate: 530000</li>
            <li>Y coordinate: 180400</li>
            <li>you do not need to include the grid reference (TQ300804)</li>
              </ul>
            </li>
        <li>the 'criticality' field allows you to prioritise your locations based on which are most important to your business. If there is a flood, you can filter by criticality and act on the most important locations first</li>
        <li>if you are not using our template, you can match your fields to ours after you upload your file. We will ask for:
          <ul class="govuk-list govuk-list--bullet">
            <li>location name</li>
            <li> X coordinate</li>
            <li>Y coordinate</li>
            <li>location reference (optional)</li>
            <li>location type (optional)</li>
            <li>location team (optional)</li>
            <li>action to be taken (optional)</li>
            <li>criticality (optional)</li>
            <li>notes (optional)</li>
              </ul>



        <li>you can upload your spreadsheet on the next page</li>
      </ul>


      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I need help doing things online
    </span>
  </summary>
  <div class="govuk-details__text">
    copy here about how to get help with assisted digital
  </div>
</details>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

    </div>
  </div>

{% endblock %}
