

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Flood warnings available for your locations</h1>

                <div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
  <span class="govuk-warning-text__assistive">Warning</span>
  50 of your locations are at medium to high risk of flooding but are not in a flood warning area. <a href="/v02-1/choosewarnings-customise/locations-no-warnings" class="govuk-link">Review medium to high risk locations</a>
</strong>
</div>

                  <h3 class="govuk-heading-m">1820<p>locations are in flood warnings areas</p></h3>

                  <h3 class="govuk-heading-m">180 <br>
                    <label class="govuk-body">locations are not in flood warning areas</label>
                    <p class="govuk-caption-m">Locations can be outside of alert and warning areas but still be at risk of flooding. Review these locations to check the flood risk and increase the radius of the location if required to get alerts and warnings from nearby warning areas.
                    </p>

                  </h3>






<div class="govuk-!-padding-bottom-3"></div>

<form class="form" action="/v02-1/choosewarnings/flood-options" method="post">



<div class="govuk-!-padding-bottom-3"></div>



<button class="govuk-button" data-module="govuk-button">
  Set flood warnings
</button>


</div>


