{% extends "layout.html" %}

{% block pageTitle %}
  Flood warnings settings – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set currentNav = "Flood warning settings" %}
{% block beforeContent %}


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Flood warnings settings",
      href: "#"
    },
    {
      text: "Choose how to get flood warnings",
      href: "#"
    }
  ]
}) }}

{% endblock %}

{% block content %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Choose how to get flood warnings
      </h1>

      <form class="form" action="/v03-1/contactpreferences/emailorcustomise" method="post">


        <p class="govuk-body">Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>choose to get your flood warnings by phone, text or email</li>
          <li>choose how other users and administrators in your organisation get flood warings</li>
        </ul>



        {{ govukButton({
          text: "Choose contact preferences"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
