{% extends "layout.html" %}

{% block pageTitle %}
  Flood warnings settings – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}




{% block content %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Flood warnings settings</h1>
        <p>Use this section to set up flood warnings for your organisation.</p>

<p>Add the locations you want to get notifications for and check if warnings are available. Invite people in your organisation to join the service and create groups of users and locations.</p>

<p>You can still make changes to a section even if it is marked as completed.</p>
        <h2 class="govuk-heading-m">Manage locations and set up warnings</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/v03-1/uploadlocations/landing-page-comingback.html" aria-describedby="before-you-start-1-status">Upload and edit your locations</a>
            </div>
            <div class="govuk-task-list__status" id="prepare-application-1-status">
              Completed
            </div>

          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="/V03-1/choosewhichwarnings/landing-page" aria-describedby="before-you-start-2-status">Choose which flood warnings you want to get</a>
            </div>
            <div class="govuk-task-list__status" id="prepare-application-1-status">
              Completed
            </div>
          </li>
        </ul>
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Manage user and groups</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-1-status">Create and edit users (optional)</a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Not yet started
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-2-status">Create and edit groups (optional)</a>
            </div>
            <div class="govuk-task-list__status" id="before-you-start-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                Not yet started
              </strong>
            </div>
          </li>


          <h2 class="govuk-heading-m govuk-!-margin-top-5">Choose how to get flood warnings</h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="/v03-1/contactpreferences/landing-page" aria-describedby="prepare-application-1-status">Choose how you get flood warnings</a>
              </div>
              <div class="govuk-task-list__status" id="before-you-start-2-status">
                <strong class="govuk-tag govuk-tag--blue">
                  Not yet started
                </strong>
              </div>
            </li>

        </ul>

<div class="govuk-!-padding-bottom-6"></div>

        <div class="govuk-caption-m">Last updated by John Smith at 11:05am, 19 September 2023 –

                <a class="govuk-link" href="#" aria-describedby="see all updates">See all updates</a>




    </div>
  </main>
</div>




{% endblock %}
