{% extends 'layout.html' %}

{% block pageTitle %}
    Match your file
{% endblock %}


{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Your uploaded locations</h1>

                  <h3 class="govuk-heading-m">1,254 <p>locations not found</p></h3>



  <form class="form" action="/v01/multiple-upload/flood-warning" method="post">

  <a href="/v01/multiple-upload/location-format">Add more locations</a>

  <div class="govuk-!-padding-bottom-3"></div>



  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>


</div>

{% endblock %}
