{% extends 'layout.html' %}

{% block pageTitle %}
    Your uploaded locations
{% endblock %}


{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<form class="form" action="/v03-1/multiple-upload/spreadsheet-postcode/first-line-address" method="post">

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Your uploaded locations</h1>

                  <h3 class="govuk-heading-m">1,900 <p>locations found</p></h3>

                  <h3 class="govuk-heading-m">6 <br><label class="govuk-body">locations partly matched</label><p class="govuk-caption-m">The postcode has been found but the address does not match <br><a href="/v01-2/multiple-upload/spreadsheet-postcode/first-line-address">View and edit the partly matched locations</a></p>
                  </h3>




                  <h3 class="govuk-heading-m">94 <br><label class="govuk-body">locations not found</label><p class="govuk-caption-m">This may be because the address is new, and the postcode has not yet been added to the database, or because of missing details or typing mistakes</p>
                  </h3>




<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


</div>

{% endblock %}
