{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="/v01/add-method-answer" method="post">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "add-method",
        name: "add-method",
        fieldset: {
          legend: {
            text: "How would you like your locations to be added?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "add-to-existing",
            text: "Add new locations to the current locations (if locations already exist, they will be updated)"
          },
          {
            value: "replace",
            text: "Remove all current locations and replace with this upload"
          }
        ]
      }) }}



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
  </div>

{% endblock %}
