
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-form-group" style="padding-bottom: 1em">
  <form action="{{formAction}}" method="post">

  <h2 class="govuk-heading-m">
   Increase the search area around locations
 </h2>
 
 <label class="govuk-label" for="weight">
 Increase area by
 </label>
 
 <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="metres" name="metres" type="text" spellcheck="false">
 <div class="govuk-input__suffix" aria-hidden="true">metres</div>
 
 </div>
 </div>
 {{permit|dump}}


<!--<h3> id="linked-data" tabindex="-1" class="govuk-heading-m">
  <a href="{{ item.termName | lower | replace(' ', '-') }}" class="govuk-link">{{ item.title }}</a>
</h3>
<p> {{ item.address }} </p>
<p>{{ item.priority }}</p>
<p>{{ item.criticalityToBusiness }}</p>
<p>{{ item.availableWarnings }}</p>
<p>{{ item.increasedArea }}</p>

-->

<div style="padding-top:1em">
  <button class="govuk-button" value="continue" idPrefix= "no-warning" name= "no-warning">
  Continue
  </button>
</div>

{% endblock %}
