{% extends "layout.html" %}

{% set title = "Search for a location" %}

{% block pageTitle %}
Get flood warnings by phone, text or email
{% endblock %}

{% set currentNav = "Flood warning settings" %}




{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v03-1/locations-status-answer" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "status-location",
        fieldset: {
          legend: {
            text: "Have you finished adding your locations?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
  hint: {
    text: "You have added 2000 locations. Your changes to this section have been saved. You can come back to this section and make more chnages at any point."
  },
        items: [

          {
            value: "completed",
            text: "Completed: yes, I have finished"
          },
          {
            value: "in-progress",
            text: "In progress: I need to come back later and make more changes"
          }
        ]
      }) }}



      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </div>
  </div>

{% endblock %}
