{% extends "layout.html" %}

{% block pageTitle %}
  Partyl matched locations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set currentNav = "Flood warning settings" %}

{% block beforeContent %}
{{ super() }}

{{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
}) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




  <h1 class="govuk-heading-l">
    Partly matched locations
  </h1>

  <p class="govuk-body">
    The first line of the address did not match the postcode. Select an address to match the postcode for each location.</p>

<p class="govuk-body">If you choose 'Address not shown', your partly matched locations will be added to the number of locations not found.
          </p>

</div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full">


        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">6 locations</caption>



          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">
                        <b>Location name</b>
                  </th>


              <th scope="col" class="govuk-table__header">Full address</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Postcode</th>
              <th scope="col" class="govuk-table__header govuk-table__header">Select an address</th>
              <th scope="col" class="govuk-table__header govuk-table__header"></th>
            </tr>
          </thead>


          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                      BRID_11
              </th>

              <td class="govuk-table__cell">Roundhay, Bridlington</td>
              <td class="govuk-table__cell govuk-table__cell">YO15 3JZ</td>
              <td class="govuk-table__cell govuk-table__cell">
                <select class="govuk-select" id="sort" name="sort">
                <option value="comments" selected>4 addresses found</option>
                <option value="comments">Address not shown</option>
                <option value="published">3, Roundhay road, Bridlington</option>
                <option value="updated" >4, Roundhay road, Bridlington</option>
                <option value="views">5, Roundhay road, Bridlington</option>
                <option value="comments">6, Roundhay road, Bridlington</option>

                </select>
                </td>



              <td class="govuk-table__cell govuk-table__cell--numeric">



          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                      BRID_12
              </th>



              <td class="govuk-table__cell ">Belgrave road, Bridlington</td>
              <td class="govuk-table__cell govuk-table__cell">YO15 3JP</td>
              <td class="govuk-table__cell govuk-table__cell">
                <select class="govuk-select" id="sort" name="sort">
                <option value="comments" selected>3 addresses found</option>
                <option value="comments">Address not shown</option>
                <option value="published">25A, Belgrave road, Bridlington</option>
                <option value="updated" >25B, Belgrave road, Bridlington</option>
                <option value="views">25C, Belgrave road, Bridlington</option>

                </select>
                </td>




              <td class="govuk-table__cell govuk-table__cell--numeric">









                                  <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                      <th scope="row" class="govuk-table__header">
                                              BRID_13
                                      </th>

                                      <td class="govuk-table__cell govuk-table__cell">South Marine Drive, Bridlington</td>
                                      <td class="govuk-table__cell govuk-table__cell">YO15 3JJ</td>
                                      <td class="govuk-table__cell govuk-table__cell">
                                        <select class="govuk-select" id="sort" name="sort">
                                        <option value="updated" selected>6 addresses found</option>
                                        <option value="comments">Address not shown</option>
                                        <option value="published">52, South Marine Drive, Bridlington</option>
                                        <option value="published">53, South Marine Drive, Bridlington</option>
                                        <option value="views">54, South Marine Drive, Bridlington</option>
                                        <option value="comments">55, South Marine Drive, Bridlington</option>
                                        <option value="published">56, South Marine Drive, Bridlington</option>
                                        <option value="published">57, South Marine Drive, Bridlington</option>

                                        </select>
                                        </td>



                                      <td class="govuk-table__cell govuk-table__cell--numeric">






                                              <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header">
                                                          BRID_14
                                                  </th>

                                                  <td class="govuk-table__cell govuk-table__cell">Roundhay Ave, Bridlington</td>
                                                  <td class="govuk-table__cell govuk-table__cell">YO15 3JY</td>
                                                  <td class="govuk-table__cell govuk-table__cell">
                                                    <select class="govuk-select" id="sort" name="sort">
                                                    <option value="published" selected >3 addresses found</option>
                                                    <option value="comments">Address not shown</option>
                                                    <option value="updated">45, Roundhay Avenue, Bridlington</option>
                                                    <option value="views">46, Roundhay Avenue, Bridlington</option>
                                                    <option value="comments">47, Roundhay Avenue, Bridlington</option>

                                                    </select>
                                                    </td>



                                                  <td class="govuk-table__cell govuk-table__cell--numeric">





                                                          <tbody class="govuk-table__body">
                                                            <tr class="govuk-table__row">
                                                              <th scope="row" class="govuk-table__header">

                                                                      BRID_15


                                                              </th>

                                                              <td class="govuk-table__cell govuk-table__cell">Belgrave mansions, Bridlington</td>
                                                              <td class="govuk-table__cell govuk-table__cell">YO15 3JL</td>
                                                              <td class="govuk-table__cell govuk-table__cell">
                                                                <select class="govuk-select" id="sort" name="sort">
                                                                <option value="published"selected>3 addresses found</option>
                                                                <option value="comments">Address not shown</option>
                                                                <option value="updated">18 Belgrave mansions, Bridlington</option>
                                                                <option value="views">19 Belgrave mansions, Bridlington</option>
                                                                <option value="comments">20 Belgrave mansions, Bridlington</option>

                                                                </select>
                                                                </td>



                                                              <td class="govuk-table__cell govuk-table__cell--numeric">




                                                                      <tbody class="govuk-table__body">
                                                                        <tr class="govuk-table__row">
                                                                          <th scope="row" class="govuk-table__header">

                                                                                  BRID_16

                                                                          </th>

                                                                          <td class="govuk-table__cell govuk-table__cell">Woodcroft court, Bridlington</td>
                                                                          <td class="govuk-table__cell govuk-table__cell">YO15 3JN</td>
                                                                          <td class="govuk-table__cell govuk-table__cell">
                                                                            <select class="govuk-select" id="sort" name="sort">
                                                                            <option value="addressfound" selected>5 addresses found</option>
                                                                            <option value="addressnotshown">Address not shown</option>
                                                                            <option value="flat4">Flat 4, Woodcroft court, Bridlington</option>
                                                                            <option value="flat5">Flat 5, Woodcroft court, Bridlington</option>
                                                                            <option value="flat6">Flat 6, Woodcroft court, Bridlington</option>
                                                                            <option value="flat6">Flat 7, Woodcroft court, Bridlington</option>
                                                                            <option value="flat6">Flat 8, Woodcroft court, Bridlington</option>

                                                                            </select>
                                                                            </td>



                                                                          <td class="govuk-table__cell govuk-table__cell--numeric">





        </td>
            </tr>

          </tbody>
        </table>
<div class="govuk-button-group">
<form class="form" action="/v03-1/multiple-upload/spreadsheet-postcode/uploaded-locations3">

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <a class="govuk-link" href="/v03-1/multiple-upload/spreadsheet-postcode/uploaded-locations2">Skip this step</a>
</div>



          </div>
        </div>




{% endblock %}
