{% extends "layout.html" %}

{% set title = "Search for a location" %}

{% block pageTitle %}
What do you want to do next
{% endblock %}

{% set currentNav = "Flood warning settings" %}
{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v03-1/next-action-answer" method="post">


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "next-action",
        name: "next-action",
        fieldset: {
          legend: {
            text: "What do you want to do next?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "continue",
            text: "Set flood warnings for the 1,908 locations found"
          },
          {
            value: "not-found",
            text: "Try to find the 92 locations not found"
          },
          {
            value: "add-more",
            text: "Add more locations"
          }
        ]
      }) }}



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
  </div>

{% endblock %}
