
{% extends "layout.html" %}

{% block pageTitle %}
  Get flood warnings prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
Get flood warnings by phone, text or email prototypes      </h1>
      <p class="govuk-body">This is not an end to end journey. These are prototypes used for testing ideas for the Warning Improvement Project (WIP).</p>


    </div>  </div>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-m">Alpha for WIP designs</h3>
      <p class="govuk-body">
        <a href="/prototype-admin/clear-data">Clear stored data</a>
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">What's changed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/index-v01">VERSION 1-1</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag" style="background: purple;">
              READY FOR UR
            </strong></br>September 2022</td>
            <td class="govuk-table__cell">
              Multiple upload of locations</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Choose format to input multiple locations - NEW</li>
                <li>Instructions for different formats - NEW</li>
                <li>Fields required in spreadsheet downloads - NEW</li>
              <li>Review locations not found - NEW</li>
              <li>Manually find unidentified locations - NEW</li>
              <li>Match fields - NEW</li>
            </ul>
          </td></td>
          </tr>







        </tbody>
      </table>

        <!--#### <li><a href="/change-log">Prototype change log</a></li> ####-->


    </div>
  </div>

{% endblock %}
