
{% extends "layout.html" %}

{% block pageTitle %}
Get flood warnings by phone, text or email
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get flood warnings by phone, text or email
      </h1>

      <p><a href="/prototype-admin/clear-data">Clear location data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Alpha design version 2-1</h2>
                  <h3 class="govuk-heading-s">External user research</h3>

      <p class="govuk-body">Week starting January 2023 </p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->

          <h2 class="govuk-heading-m">
            Research
          </h2>



          <p> <a href="/default">Choose flood warnings - default</a></p>
          <p> <a href="/customise">Choose flood warnings - customise</a></p>
            <p> <a href="/v02-1/manage-flood-warnings">Choose flood warnings - returning to service</a></p>
           </div>
              </div>

            {% endblock %}
