
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Customise flood alerts and warnings
    </h1>



    <p class="govuk-body">You can choose whether to receive severe flood warnings, flood warnings or flood alerts for each location. This can be more effective for your organisation and help you get a manageable number of warnings and alerts.
    </p>

    <p class="govuk-body">You can <a href="/v02-1/choosewarnings-edit/flood-options" class="govuk-link">change to the default option</a> of severe flood warnings and flood warnings for all locations</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What are severe flood warnings, flood warnings and flood alert?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p><b>Severe flood warnings</b><br>
        When a severe flood warning is issued there is a danger to life and a risk of major disruption.</p>

      <p><b>Flood warnings</b><br>
        When a flood warning is issued immediate action is needed. There is a risk of flooding to homes, businesses, rail and roads.</p>

        <p><b>Flood alerts</b><br>
        Flood alerts warn that flooding may be possible. They are usually issued from two days to two hours before flooding might happen. Alerts can help you be prepared to act on your flood plan.</p>
      </div>
    </details>
    <div class="govuk-inset-text">
      The selected locations had 3 severe flood warnings, 900 warnings and 2,700 alerts in the past 2 years.
    </div>
  </div>
  </div>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      {% include "includes/filters-panel.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">

     

{% if data.filteredResults.length %}

{% set data = data.filteredResults %}

{% else %}

{% set data = allData %}

{% endif %}


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">5 locations </caption>





  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">


          </th>


      <th scope="col" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" onClick="toggleSFW(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            <b>All severe flood warnings</b>
            </label>
          </div>
      </th>

      <th scope="col" class="govuk-table__header govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" onClick="toggleFW(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            <b>All flood warnings</b>
            </label>
          </div>
      </th>


      <th scope="col" class="govuk-table__header govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" onClick="toggleFA(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            <b>All flood alerts</b>
            </label>
          </div>
      </th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for item in data %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">



        <h3 id="linked-data" tabindex="-1" class="govuk-heading-m">
          <a href="{{ item.termName | lower | replace(' ', '-') }}" class="govuk-link">{{ item.title }}</a>
        </h3>
        {{ item.address }} <!--{{ item.criticalityToBusiness }}{{ item.priority }}-->
      </th>



      <td class="govuk-table__cell ">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="SFW" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Severe flood warnings
            </label>
          </div>
        </td>

      <td class="govuk-table__cell govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="FW" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Flood warnings
            </label>
          </div>
      </td>

      <td class="govuk-table__cell govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="FA" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Flood alert
            </label>
          </div>
      </td>
    </tr>
{% endfor %}
{% for item in data %}
  </tbody>
</table>


<!--<h3> id="linked-data" tabindex="-1" class="govuk-heading-m">
  <a href="{{ item.termName | lower | replace(' ', '-') }}" class="govuk-link">{{ item.title }}</a>
</h3>
<p> {{ item.address }} </p>
<p>{{ item.priority }}</p>
<p>{{ item.criticalityToBusiness }}</p>
<p>{{ item.availableWarnings }}</p>
<p>{{ item.increasedArea }}</p>

-->




{% endfor %}


<script language="JavaScript">
  function toggleFA(source) {
    checkboxes = document.getElementsByName('FA');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
</script>
    <script language="JavaScript">
      function toggleFW(source) {
        checkboxes = document.getElementsByName('FW');
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = source.checked;
        }
      }
  </script>
<script language="JavaScript">
          function toggleSFW(source) {
          checkboxes = document.getElementsByName('SFW');
          for(var i=0, n=checkboxes.length;i<n;i++) {
           checkboxes[i].checked = source.checked;
        }
      }
  </script>


{% endblock %}
