
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}




{% block beforeContent %}



{% endblock %}




{% block content %}

  <div class="govuk-grid-row">



    <div class="govuk-grid-column-one-third">
      {% include "includes/filters-panel.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">



{% if data.filteredResults.length %}

{% set data = data.filteredResults %}

{% else %}

{% set data = allData %}

{% endif %}


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">5 locations </caption>





  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">


          </th>


      <th scope="col" class="govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" onClick="toggleSFW(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            <b>All severe flood warnings</b>
            </label>
          </div>
      </th>

      <th scope="col" class="govuk-table__header govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" onClick="toggleFW(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            <b>All flood warnings</b>
            </label>
          </div>
      </th>


      <th scope="col" class="govuk-table__header govuk-table__header">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" onClick="toggleFA(this)" />
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            <b>All flood alerts</b>
            </label>
          </div>
      </th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for item in data %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">



        <h3 id="linked-data" tabindex="-1" class="govuk-heading-m">
          <a href="{{ item.termName | lower | replace(' ', '-') }}" class="govuk-link">{{ item.title }}</a>
        </h3>
        {{ item.address }}
      </th>



      <td class="govuk-table__cell ">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="SFW" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Severe flood warnings
            </label>
          </div>
        </td>

      <td class="govuk-table__cell govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="FW" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Flood warnings
            </label>
          </div>
      </td>

      <td class="govuk-table__cell govuk-table__cell">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="FA" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Flood alert
            </label>
          </div>
      </td>
    </tr>
{% endfor %}
{% for item in data %}
  </tbody>
</table>


<!--<h3> id="linked-data" tabindex="-1" class="govuk-heading-m">
  <a href="{{ item.termName | lower | replace(' ', '-') }}" class="govuk-link">{{ item.title }}</a>
</h3>
<p> {{ item.address }} </p>
<p>{{ item.priority }}</p>
<p>{{ item.criticalityToBusiness }}</p>
<p>{{ item.availableWarnings }}</p>
<p>{{ item.increasedArea }}</p>

-->




{% endfor %}


<script language="JavaScript">
  function toggleFA(source) {
    checkboxes = document.getElementsByName('FA');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
</script>
    <script language="JavaScript">
      function toggleFW(source) {
        checkboxes = document.getElementsByName('FW');
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = source.checked;
        }
      }
  </script>
<script language="JavaScript">
          function toggleSFW(source) {
          checkboxes = document.getElementsByName('SFW');
          for(var i=0, n=checkboxes.length;i<n;i++) {
           checkboxes[i].checked = source.checked;
        }
      }
  </script>


{% endblock %}
