{% extends 'layout.html' %}

{% block pageTitle %}
    Match your file
{% endblock %}


{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
<!-{{permit|dump}}-->
{% if permit.floodWarningCustomise=="default" %}

{% include "includes/flood-warnings/default-flood-warnings-set.html" %}
{% else %}
{% include "includes/flood-warnings/customise-success.html" %}
{% endif %}


{% endblock %}
