{% extends 'layout.html' %}

{% block pageTitle %}
    Match your file
{% endblock %}

set custom
{% set route = 'customise' %}
{% if permit.route=="customise" %}
    {% set appType = 'customise' %}
{% endif %}

set default
{% set route = 'default' %}
{% if permit.route=="default" %}
    {% set appType = 'default' %}
{% endif %}
{% block beforeContent %}

    {{ super() }}

    <a class="govuk-back-link" href="overview-flood">Back</a>

{% endblock %}

{% block content %}
<!--{{permit|dump}}-->
{% if permit.route=="customise" %}

{% include "includes/flood-warnings/customise.html" %}
{% endif %}
{% if permit.route=="default" %}
{% include "includes/flood-warnings/default.html" %}

{% endif %}



{% endblock %}
